@model TransactionViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Transaction Time!</h1>

<form asp-controller="Transaction" asp-action="Transact" method="post">
    <input asp-for="AccountId" />
    <input asp-for="Amount" />
    <input type="submit" name="type" value="Deposit" />
    <input type="submit" name="type" value="Withdrawal" />
</form>

<p>@ViewBag.Message</p>

@if (Model.Account != null)
{
    <p>The new balance of account #@Model.Account.AccountId is now @Model.Account.Balance</p>
}
<div asp-validation-summary="All" class="text-warning"></div>



